
* { box-sizing: border-box; }

body {
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
}

header { 
    height: 100px;
    background-image: url(images/header.png);
    background-repeat: no-repeat; 
    background-size: cover;
}           
            
/* Name Grid Areas */
header { grid-area: h; }
nav    { grid-area: n; }
main   { grid-area: m; }
aside  { grid-area: a; }
footer { grid-area: f; }

.wrapper {
    position: relative;  
    color: #507586;
    display: grid;
    grid-template: 
    "h" 
    "n" 
    "m"
    "a" 
    "f";
}

.wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(images/background.png);
    background-repeat: no-repeat; 
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

h1 { 
    text-align: center;
    color: #B4CDD8;
    font-size: 300%;
    text-shadow: 10px 10px 10px #000000;
}

h2 { color: #507586; }

nav { font-size: 120%; }

nav ul { 
    padding-left: 0;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    list-style-type: none;
}	  

nav li { 
    width: 20%;
    min-width: 6em;
    font-size: 110%;
    text-align: center;
    background-color: #507586; 
    margin: .5em;
    padding: .5em;
}

nav a { text-decoration: none;}
nav a:link { color: rgba(240, 232, 200, 0.5); }
nav a:visited { color: #B4CDD8; }
nav a:hover { color: #FFFFFF; }

aside { 
    display: none;  
    padding: 1em;
}

main { padding: 0 1em 1em; }

footer { 
    text-align: left;
    font-style: italic;
    padding: 2em;
}

@media (min-width: 38em) {
    #wrapper {grid-template:
	                " h   h "
					" n   n "
					" m   a "
					" f   f "
					/ 60% 40% ; }
   	aside { display: block; }
}

@media (min-width: 65em) {	
    nav ul { 
        display: flex;  
	    flex-direction: column; 
	    flex-wrap: nowrap; }
    
    #wrapper { grid-template:
    		         " h   h   h"
					 " n   m   a"
					 " f   f   f" 
			        / 150px 1fr 30%; }
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Newsletter Form */

form {
    max-width: 400px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #507586;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.success {
    color: green;
    margin-bottom: 10px;
}

/* Newsletter PDF insert */

.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use the full height of the viewport */
}

.pdf-container iframe {
    width: 60%; /* Adjust the width as needed */
    height: 80%; /* Adjust the height as needed */
    border: none;
}

/* BMR calculator */

.calculator {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px; /* Increased font size for labels */
}

input[type="number"], select, button {
    width: calc(100% - 22px);
    padding: 12px; /* Slightly larger padding for a better touch experience */
    margin-top: 5px;
    font-size: 20px; /* Increased font size for inputs and button */
    border-radius: 5px; /* Added for better aesthetics */
}

button {
    background-color: #507586;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    color: #507586;
    font-size: 22px; /* Increased font size for result */
    text-align: center;
    margin-top: 20px;
}

